body {
  font-size: 16px;
  color: #fff;
  background-color: #2b3034;
  font-family: "oxygen", sans-serif;
}
.special-tile {
  background-color: #000;
  margin: 0;
  box-shadow: 15px blue;
  box-shadow: 2px 2px 5px 0 snow;
}
h1 {
  color: skyblue;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  color: rgb(235, 194, 194);
  text-align: center;
  padding-top: 5px;
}
p {
  font-size: 1em;
  padding: 15px;
}
.navbar {
  background-color: black;
  border-radius: 0;
  border: 0;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
  .navbar-nav {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sm-screen-col {
    width: 100%;
  }
  width: 100%;
}
